<title>Creating table</title>
<body  text=black>


<table border=5 bgcolor=pink>
  <caption align=top>ROR Training</caption>

<tr>
<th rowspan=1 >rno</th>
  <th rowspan=1>name</th>
  <th row span=1>address</th>
</tr>
<tr>
  <td>101</td>
  <td>roja</td>
  <td>mbnr</td>
</tr>
<tr>
  <td>102</td>
<td>priyanka</td>
<td>nalgonda</td>
<tr>
  <td>103</td>
  <td>harika</td>
  <td>medhak</td>
</tr>
</tr>
</table>
</body>
