<html>
<head>
  <h1>title of the book is sidney of sheldon</h1>


</head>


<body bgcolor=green>


<p>
<font color=yellow size=+2 face="Scan serif">
<I>  <h2><center>let me check whether it is available or not</I></center></h2></font></p>
</body>
</html>
